@font-face {
    font-family: "HankenGroteskMedium";
    src: url("../../../public/assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "HankenGroteskBold";
    src: url("../../../public/assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "HankenGroteskExtraBold";
    src: url("../../../public/assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
}